<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547591929381-3gh9aiki2ko6dq8huukj34nrdpehdgs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547591929381-3gh9aiki2ko6dq8huukj34nrdpehdgs1</string>
	<key>API_KEY</key>
	<string>AIzaSyAjPDoAf5Fmwdx1X4USB6nK97hRe50Uv_s</string>
	<key>GCM_SENDER_ID</key>
	<string>547591929381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reservaCae</string>
	<key>PROJECT_ID</key>
	<string>reserva-cae</string>
	<key>STORAGE_BUCKET</key>
	<string>reserva-cae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547591929381:ios:c6293389edbc4f269489cc</string>
</dict>
</plist>